* {
    box-sizing: border-box;
}

.navbar-brand {
    display: block;
    position: relative;
    min-height: 90px;
}

.navbar-brand img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-nav{
    display: flex;
    flex-direction: column;
}

.navbar-nav .nav-item {
    min-height: 45px;
}

.navbar-nav .nav-item .nav-link {
    margin: 0 8px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    text-decoration: none;

}

.navbar-nav .nav-item .nav-link i {
    height: 24px;
    width: 34px;
    font-size: 24px;
}

.navbar-nav .nav-item .nav-link  span {
    font-size: 14px;
    color: #8889AA;
}

.navbar-heading {
    font-size: 12px;
    color: #8889AA;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 8px;
    padding: 10px 16px;
}

.collapse.navbar-collapse.header {
    display: flex;
    justify-content: flex-end;
}

.header-navbar-nav {
    display: flex;
    align-items: center;
}

.admin {
    display: flex;
    align-items: center;
}

.admin-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.navbar-nav .nav-item .nav-link .admin-name span{
    color: #8889AA;
    padding-left: 12px;
}

.header-navbar-nav .nav-item i {
    font-size: 24px;
    padding: 0 10px;
}

.container-navbar {
    background-color: #5e72e4;
}
.container-navbar-notlogin{
    background-color: rgb(153, 13, 13);
}
hr {
    margin: 0 20px;
    color: #ccc;
}